* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.content {
    margin: auto;
    max-width: 600px;
    line-height: 1.4em;
    padding: 30px;
}

.hello {
    position: relative;
    width: 100%;
    background: #171921;
    overflow: hidden;
}

.hello .content {
    color: #fff;
}

.hello .content a {
    color: #6272a4;
}

.hello .content a:hover {
    color: #fff;
}

.hello .content p {
    position: relative;
}

.hello .content #hello {
    color: #ffe953;
    margin-bottom: 20px;
}

.hello .content p i {
    font-size: 18px;
    position: relative;
    top: 3px;
}

.hello .content pre {
    width: 100%;
    font: 18px 'Inconsolata', monospace;
    font-weight: normal;
    margin: 30px 0px;
    background: #282a36;
    padding: 10px 20px;
    border-radius: 3px;
    white-space: pre-wrap;
}

/* .hello .web {
    position: absolute;
    font-size: 128px;
    text-align: center;
    color: rgba(255, 121, 198, 0.05);
    bottom: 0px;
    left: 0px;
    right: 0px;
    line-height: 32px;
} */

section {
    background: #282a36;
    color: #fff;
}

.light {
    background: #f5f5f5;
    color: #424242;
}

article .content {
    border-bottom: 1px solid #f5f5f5;
}

article:last-child .content {
    border-bottom: none;
}

article .content .title {
    font-weight: bold;
}

article .content .buttons {
    position: relative;
    display: table;
    width: 100%;
    /* border: 1px solid #171921; */
    border-radius: 3px;
    margin: 20px 0px;
    overflow: hidden;
}

article .content .buttons .img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1);
    filter: blur(2px);
}

article .content .buttons .view, article .content .buttons .source {
    position: relative;
    display: table-cell;
    text-align: center;
    background: rgba(40, 42, 54, 0.5);
    vertical-align: middle;
}

article .content .buttons > div {
    font-size: 0px;
}

article .content .buttons > div a {
    display: block;
    padding: 30px 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

article .content .buttons > div:hover {
    background: rgba(40, 42, 54, 0.7);
}

article .content .buttons > div a:hover {
    color: #fff;
}

/* article .content table {
    font-size: 18px;
    border-collapse: collapse;
    margin-bottom: 10px;
    line-height: normal;
}

article .content table tr td {
    padding-right: 10px;
    vertical-align: top;
}

article .content table tr .title {
    font-weight: bold;
}

article .content table tr td a {
    color: #424242;
}

article .content .clear {
    clear: both;
}

article .content .body .img {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background: #282a36;
    border-radius: 3px;
    overflow: hidden;
    font-size: 0px;
    padding: 0px;
}

article .content .body .img img {
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 0px;
} */

footer {
    background: #171921;
    text-align: center;
    color: #fff;
}

footer .content .title {
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    article .content .buttons > div a {
        font-size: 12px;
    }
}
