* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px 'PT Sans', sans-serif;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #aaa;
}

.content {
    margin: auto;
    max-width: 800px;
    line-height: 1.4em;
    padding: 30px;
}

.hello {
    position: relative;
    width: 100%;
    background: #171921;
    overflow: hidden;
}

.hello .content {
    color: #fff;
}

.hello .content a {
    color: #6272a4;
}

.hello .content a:hover {
    color: #fff;
}

.hello .content p {
    position: relative;
}

.hello .content #hello {
    color: #ffe953;
    margin-bottom: 20px;
}

.hello .content p i {
    font-size: 18px;
    position: relative;
    top: 3px;
}

.hello .content pre {
    width: 100%;
    font: 18px 'Inconsolata', monospace;
    font-weight: normal;
    margin: 30px 0px;
    background: #282a36;
    padding: 10px 20px;
    border-radius: 3px;
    white-space: pre-wrap;
}

/* .hello .web {
    position: absolute;
    font-size: 128px;
    text-align: center;
    color: rgba(255, 121, 198, 0.05);
    bottom: 0px;
    left: 0px;
    right: 0px;
    line-height: 32px;
} */

section {
    background: #282a36;
    color: #fff;
}

.light {
    background: #f5f5f5;
    color: #424242;
}

article .content {
    border-bottom: 1px solid #f5f5f5;
}

article:last-child .content {
    border-bottom: none;
}

/* article:nth-child(2n) .content {
    background: #f5f5f5;
} */

article .content table {
    font-size: 18px;
    border-collapse: collapse;
    margin-bottom: 10px;
    line-height: normal;
}

article .content table tr td {
    padding-right: 10px;
    vertical-align: top;
}

article .content table tr .title {
    font-weight: bold;
}

article .content table tr td a {
    color: #424242;
}

article .content .clear {
    clear: both;
}

article .content .body {
    display: table;
}

article .content .body .desc, article .content .body .img {
    display: table-cell;
    vertical-align: top;
}

article .content .body .desc {
    width: 500px;
    padding-right: 20px;
}

article .content .body .img {
    width: 250px;
    background-color: #eee;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid #ddd; */
    border-radius: 3px;
    overflow: hidden;
    height: 100px;
}

footer {
    width: 100%;
    background: #f5f5f5;
}

footer .content {
    text-align: center;
}

footer .content img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    article .content .body {
        display: block;
    }

    article .content .body .desc, article .content .body .img {
        display: block;
        width: 100%;
    }

    article .content .body .desc {
        padding-right: 0px;
        margin-bottom: 20px;
    }

    article .content .body .img {
        height: 100px;
    }
}
