* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px sans-serif;
    padding: 30px;
}

h1 {
    font-weight: normal;
    margin: 30px 0px 10px 0px;
}

p {
    display: table;
    width: 100%;
    width: 100%;
    margin: 10px 0;
}

p span, p input {
    display: table-cell;
    width: 50%;
}

p input {
    font: 14px sans-serif;
    width: 30%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    font: 14px sans-serif;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
    border: 1px solid #bbb;
}

#output {

}
