* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

body {
  font-size: 16px;
}

#canvas-grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.block {
  padding: calc(100vh * (1 / 12)) calc(100% * (2 / 12));
  background: #fff;
}

.block h2 {
  font-weight: 600;
}

.block p b {
  font-weight: 600;
}

.block:nth-child(even) {
  background: #fafafa;
}

.block > * + *,
.block-content .left > * + * {
  margin-top: 15px;
}

.block-content .left {
  width: calc(100% * (6 / 8));
  padding-right: 30px;
}

.block-content {
  display: flex;
}

.block-content .left h1 {
  font-weight: 800;
}

.block-content .right {
  position: relative;
  width: calc(100% * (2 / 8));
}

.block-image .right {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.block-image .right img {
  max-width: 100%;
  box-shadow: 0 30px 60px -30px rgba(10, 10, 10, 0.6);
  border-radius: 5px;
}

.block-image .right p + img {
  margin-top: 60px;
}

.block-image .right p {
  font-size: 12px;
  margin-top: 15px;
}

.block-links {
  font-size: 0;
}

.block-links a {
  font-size: 16px;
  display: inline-block;
}

.block-links a + a {
  margin-left: 15px;
}

.block-project .block-content .left {
  width: calc(100% * (3 / 8));
}

.block-project .block-content .right {
  width: calc(100% * (5 / 8));
}

span {
  background: #e0e0e0;
  /* color: #fff; */
  padding: 1px 3px;
  border-radius: 3px;
}

.link {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  background: #0336ff;
  color: #fff;
  border-radius: 3px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .img {
  width: calc(100% / 6);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .block-content {
    flex-direction: column !important;
  }

  .block-content > div {
    width: 100% !important;
  }

  .block-content .left {
    padding: 0 0 30px 0;
  }

  .gallery .img {
    width: calc(100% / 4);
    height: 200px;
  }
}
