* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 12px sans-serif;
}

body {
    font-size: 0;
}

.wrapper {
    margin: 30px;
}

canvas {
    border: 1px solid #000;
    margin: 10px;
    vertical-align: top;
}

.inputs p {
    margin: 5px 10px;
}

.inputs p span {
    margin-right: 10px;
}
