@font-face {
  font-family: 'Pompadur';
  src: url('./Pompadur.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 18px 'Raleway', sans-serif;
  line-height: 1.5;
  color: #424242;
}

body {
  background-color: rgba(251, 243, 213, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 24px 64px 24px;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 24px;
  z-index: 2;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

a {
  color: initial;
}

section {
  display: flex;
  justify-content: center;
  gap: 24px;
}

img {
  max-width: 100%;
  border-radius: 12px;
  pointer-events: none;
}

.pompadur {
  font-family: 'Pompadur', serif;
  font-weight: 400;
}

.item {
  position: relative;
  width: 50%;
}

.img-container {
  position: relative;
  font-size: 0;
  text-align: right;
  z-index: -1;
}

.circle-1 {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  background-color: #efbc9b;
  filter: blur(64px);
  border-radius: 50%;
  z-index: -1;
}

.circle-2 {
  position: absolute;
  bottom: -15%;
  right: 15%;
  width: 150px;
  height: 150px;
  background-color: #f9e897;
  filter: blur(48px);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 2;
}

.center {
  text-align: center;
}

.list {
  border-collapse: collapse;
}

.list td {
  vertical-align: middle;
}
.list td:first-child {
  padding-right: 16px;
}
.list tr:not(:first-child) td {
  padding-top: 8px;
}

.location {
  text-decoration: none;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid #b67352;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}

.location > h3 {
  margin-bottom: 8px;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.color {
  width: calc((100% - 16px * 3) / 4);
  border-radius: 50%;
}
.color:nth-child(1) {
  background-color: #f9f9f9;
}
.color:nth-child(2) {
  background-color: #fff7f1;
}
.color:nth-child(3) {
  background-color: #f1f6f9;
}
.color:nth-child(4) {
  background-color: #f5e8dd;
}
.color:nth-child(5) {
  background-color: #f7f7e8;
}
.color:nth-child(6) {
  background-color: #ffefe8;
}
.color:nth-child(7) {
  background-color: #eef1ff;
}
.color:nth-child(8) {
  background-color: #d6e5fa;
}

.color-height {
  margin-top: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.field {
  width: 100%;
}

.field > label {
  display: block;
  margin-bottom: 8px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.row:not(:last-child) {
  margin-bottom: 4px;
}

input[type='text'] {
  width: 100%;
  padding: 4px 8px;
}

.description {
  margin: -4px 0 8px 0;
  font-size: 14px;
  opacity: 0.8;
}

button {
  padding: 4px 8px;
  background-color: #b67352;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.loading {
  pointer-events: none;
}

.loading > * {
  opacity: 0.3;
}

.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid #b67352;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 720px) {
  main {
    gap: 24px !important;
  }

  section {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .img-container {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 48px;
  }
}

@media (hover: hover) {
  .location:hover {
    background-color: rgba(182, 115, 82, 0.1);
  }

  button:hover {
    cursor: pointer;
    background-color: rgba(182, 115, 82, 0.7);
  }
}
