.table {
    display: table;
    width: 100%;
}

.table > div {
    display: table-cell;
    vertical-align: top;
}

.catalog {
    width: 30%;
    /* background: #fff; */
}

.catalog ul {
    list-style: none;
    background: #fff;
    border-radius: 10px;
    border-bottom: 2px solid #eee;
}

.catalog ul a {
    color: #717171;
}

.catalog ul a:hover {
    color: #000;
}

.catalog ul li {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.catalog ul a:last-child li {
    border-bottom: none;
}

.products {
    width: 70%;
}

.products .group > a article .img {
    position: relative;
}

.products .group > a article .img .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 187, 208, 0);
    transition: 0.3s;
}

.products .group > a:hover article .img .hover {
    background: rgba(248, 187, 208, 0.2);
    transition: 0.3s;
}

.products .group article {
    margin: 0px 30px 30px 30px;
}

.products .group article .body .desc {
    margin-bottom: 20px;
}

.products .group article .body .price {
    font-size: 18px;
}
