@font-face {
  font-family: 'Cornelius';
  src: url(font/cornelius.eot),
      url(font/cornelius.woff) format('woff'),
      url(font/cornelius.ttf) format('truetype');
}

@font-face {
  font-family: 'Nautilus';
  src: url(font/Nautilus.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px 'PT Sans', 'Open Sans', sans-serif;
    /* background: #eee; */
    /* background: #FCE4EC; */
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-weight: normal;
}

header {
    padding: 30px;
    background: #F8BBD0;
    text-align: center;
    /* border-bottom: 1px solid #F48FB1; */
}

header h1 {
    font-family: 'Nautilus';
    font-size: 64px;
    margin-bottom: 30px;
    color: #fff;
    /* color: #FCE4EC; */
}

header nav {
    font-size: 0;
}

header nav a {
    font-size: 16px;
    padding: 10px;
    /* color: #424242; */
    color: #fff;
}

header nav a:hover {
    color: #fff;
}

.information {
    width: 100%;
    /* position: relative; */
    /* padding: 60px 30px; */
    /* padding: 60px 30px 160px 30px; */
    /* padding: 120px 30px; */
    padding: 30px;
    overflow: hidden;
    /* background: #eee; */
}

.information .img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
    filter: blur(2px);
}

.information .black {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.5);
    /* background: rgba(0, 0, 0, 0.5); */
}

.information .body {
    position: relative;
    margin: auto;
    max-width: 800px;
    text-align: justify;
    color: #000;
    padding: 30px 0px 120px 0;
    /* color: #fff; */
    /* padding: 30px; */
    /* background: rgba(255, 255, 255, 0.5); */
}

.information .body h2 {
    position: relative;
    font-family: 'Cornelius';
    font-weight: normal;
    font-size: 42px;
}

.information .body p {
    position: relative;
    margin: 20px 0;
}

.information .body img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 250px;
    filter: blur(2px);
}

section {
    padding: 60px 30px;
    background: #f5f5f5;
    /* background: #eee; */
}

section .group {
    text-align: center;
    font-size: 0px;
}

section .group article {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    margin: 30px;
    font-size: 14px;

    /* -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1); */
}

section .group article .img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

section .group article .body {
    padding: 30px;
    color: #424242;
    background: #fff;
    /* background: #FCE4EC; */
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid #eee;
}

section .group article .body .title {
    font-family: 'Cornelius';
    font-size: 28px;
    margin-bottom: 20px;
}

section .group article .body .desc {
    font-size: 16px;
}

/* section .group article .body button {
    text-transform: uppercase;
    background: none;
    border: 1px solid #F48FB1;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
} */

footer {
    background: #252525;
    padding: 30px;
    text-align: center;
    color: #999;
    font-size: 12px;
}

footer img {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 32px;
    }

    header nav a {
        display: block;
        padding: 5px;
    }

    section {
        padding: 60px 0;
    }

    section .group article {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    section .group article .img {
        border-radius: 0px;
    }

    section .group article .body {
        border-radius: 0px;
    }
}
