:root {
  --columns-number: 12;
  --gutter: calc(8px * 3); /* 24px */
  --container-padding: 100px;
  --max-width: calc(100vw - var(--container-padding) * 2);
  --column-width: calc((var(--max-width) - var(--gutter) * (var(--columns-number) - 1)) / var(--columns-number));
  --column-1: var(--column-width);
  --column-2: calc(var(--column-width) * 2 + var(--gutter) * 1);
  --column-3: calc(var(--column-width) * 3 + var(--gutter) * 2);
  --column-4: calc(var(--column-width) * 4 + var(--gutter) * 3);
  --column-5: calc(var(--column-width) * 5 + var(--gutter) * 4);
  --column-6: calc(var(--column-width) * 6 + var(--gutter) * 5);
  --column-7: calc(var(--column-width) * 7 + var(--gutter) * 6);
  --column-8: calc(var(--column-width) * 8 + var(--gutter) * 7);
  --column-9: calc(var(--column-width) * 9 + var(--gutter) * 8);
  --column-10: calc(var(--column-width) * 10 + var(--gutter) * 9);
  --column-11: calc(var(--column-width) * 11 + var(--gutter) * 10);
  --column-12: calc(var(--column-width) * 12 + var(--gutter) * 11);
  --section-height: 980px;
}

/* @media screen and (max-width: 1600px) {
  :root {
    --columns-number: 6;
    --gutter: calc(8px * 1);
    --column-1: var(--column-width);
    --column-2: var(--column-1);
    --column-3: calc(var(--column-width) * 2 + var(--gutter));
    --column-4: var(--column-3);
    --column-5: calc(var(--column-width) * 3 + var(--gutter) * 2);
    --column-6: var(--column-5);
    --column-7: calc(var(--column-width) * 4 + var(--gutter) * 3);
    --column-8: var(--column-7);
    --column-9: calc(var(--column-width) * 5 + var(--gutter) * 4);
    --column-10: var(--column-8);
    --column-11: calc(var(--column-width) * 6 + var(--gutter) * 5);
    --column-12: var(--column-11);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  image-rendering: pixelated;
} */

body {
  font: 18px 'Gilroy', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #263238;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  padding: calc(24px * 4 - 10px) 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.3s;
}

header.black {
  background: #263238;
}

.header-container {
  width: var(--column-12);
  /* height: 40px;
  height: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .logos {
  position: relative;
  display: flex;
  width: var(--column-7);
  height: 100%;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  /* margin: -5px; */
  margin-left: -10px;
}

.header-container .logos.small {
  display: none;
}

header img {
  /* height: 100%; */
  height: calc(30px + 10px);
  padding: 10px;
}

.bigger {
  height: calc(100% + 40px);
  height: calc(70px);
  transition: 0.3s;
}

header.small {
  padding: calc(24px / 2 - 10px) 0;
  background: #263238;
}

.links {
  display: none;
  width: var(--column-5);
  justify-content: flex-end;
}

.links.open {
  display: flex;
}

.links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.links a + a {
  margin-left: var(--gutter);
}

section,
footer {
  position: relative;
  width: 100vw;
  height: var(--section-height);
  overflow: hidden;
  padding: var(--container-padding) 0;
}

.container-body {
  position: relative;
}

.main {
  height: 100vh;
  padding: 0;
}

.main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url(images/kolyma2.jpg); */
  background-image: url(images/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center bottom 0; */
  background-position: center;
  /* filter: blur(4px);
  transform: scale(1.1); */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 var(--container-padding);
  height: 100%;
  color: #fff;
}

.main-container-captains-container {
  display: flex;
  flex-direction: column;
}

.main-container-captains {
  display: flex;
}

.main-container-captains- {
  font-family: 'Elektra';
  font-size: 15vw;
  margin-left: -1.15vw;
  letter-spacing: 2px;
}

.main-container-captains-- {
  width: 100%;
}

.border-bottom {
  width: calc(100% - (1.37vw) * 2);
  height: 5px;
  background: #fff;
  margin-left: 1.37vw;
}

.main-container-captains-desc {
  font-size: 32px;
  letter-spacing: 2px;
  margin-top: 40px;
}

.start {
  position: absolute;
  bottom: calc(24px * 4);
  font-size: 42px;
  color: #fff;
  /* line-height: 0; */
  letter-spacing: 2px;
}

.author {
  position: absolute;
  bottom: calc(24px * 1);
  right: var(--container-padding);
}

.author a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.about {
  border-bottom: 1px solid #eceff1;
  /* height: 980px; */
  padding-top: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 var(--container-padding);
  height: 100%;
}

.about-container > div {
  /* height: calc(100% / 3); */
  height: 326px;
}

.about-first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 245px;
}

.about-first-left {
  align-items: center;
  width: var(--column-7);
  /* background: #bbb; */
}

.about-first-left p:first-child {
  font-size: 32px;
}

.about-first-left p:last-child {
  font-size: 6vw;
  font-weight: 500;
  margin-left: -9px;
  /* color: #002984; */
}

.about-first-left p:last-child span {
  font-weight: 400;
  color: #263238;
}

.about-first-right {
  width: var(--column-4);
  margin-left: 24px;
  /* background: #bbb; */
  line-height: 2;
  /* text-align: justify; */
}

.about-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-line {
  position: relative;
  height: 2px;
  background: #b0bec5;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.time-line .point {
  position: relative;
  width: calc(100% / 6 - 24px);
  display: flex;
  justify-content: center;
}

.time-line .point:nth-child(even) .circle {
  background: #002984;
}

.time-line .point .circle {
  position: absolute;
  top: -12px;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #3f51b5;
  border: 2px solid #fff;
}

.time-line .point .date {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  /* white-space: nowrap; */
  /* top: -40px; */
  margin-top: -80px;
  font-size: 24px;
  /* line-height: 2; */
  text-align: center;
}

.time-line .point .text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}

.possibilities {
  border-bottom: 1px solid #eceff1;
  height: auto;
}

.possibilities-container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--container-padding) var(--container-padding) var(--container-padding);
}

.possibilities-title {
  font-size: 4vw;
  margin-bottom: calc(8px * 8);
}

.possibilities-info {
  display: flex;
  justify-content: space-between;
}

.possibilities-info > div {
  width: var(--column-6);
}

.possibilities-block > p {
  line-height: 2;
}

.possibilities-block > p + p {
  margin-top: 16px;
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.tracks-title {
  padding: 0 var(--container-padding);
  font-size: 4vw;
  margin-bottom: 24px;
}

.track-container {
  position: relative;
  padding: 0 var(--container-padding);
  height: 245px;
}

.track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.track-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--column-6);
}

.track-left-icon {
  font-size: 0;
  width: var(--column-1);
  height: var(--column-1);
}

.track-left-icon img {
  width: 100%;
  height: 100%;
}

.track-left- {
  width: var(--column-4);
}

.track-left-name {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
}

.track-left-info {
  line-height: 2;
}

.track-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--column-5);
}

.track-right-icon {
  font-size: 0;
  width: var(--column-1);
  height: var(--column-1);
}

.track-right-icon img {
  width: 100%;
  height: 100%;
}

.track-right-motivation {
  width: var(--column-3);
  line-height: 2;
}

.form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #eceff1;
  height: auto;
}

.form-container {
  position: relative;
  width: var(--column-12);
}

.form-title {
  font-size: 4vw;
}

.form- {
  display: flex;
  justify-content: space-between;
  /* height: calc(100% - 24px * 4 * 2); */
  /* height: 588px; */
}

.form- > div {
  width: var(--column-6);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(24px * 2);
}

.form input,
.form textarea {
  width: var(--column-4);
  /* height: calc(100% / 6 - 24px); */
  /* height: calc(164px - 24px); */
  height: 90px;
  padding: 24px var(--gutter);
  font: 16px 'Gilroy', sans-serif;
  background: #fff;
  border: 1px solid #3f51b5;
  resize: none;
  margin-top: 24px;
}

.form input:first-child,
.form textarea:first-child {
  margin: 0;
}

.form .button {
  cursor: pointer;
  background: #3f51b5;
  color: #fff;
  font-size: 21px;
  transition: 0.3s;
}

.form .button:hover {
  background: #002984;
}

.partners {
  display: flex;
  justify-content: center;
  height: auto;
}

.partners-container {
  width: var(--column-12);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.partners-container > div {
  /* height: calc(100% / 7); */
  height: 140px;
}

.partners-container > div:first-child {
  /* height: calc(100% / 4) !important; */
  height: 140px !important;
}

.partners-title {
  font-size: 4vw;
}

.partners-category {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.partners-category + .partners-category {
  border-top: 1px solid #eceff1;
}

.partners-category-left {
  width: var(--column-4);
  border-right: 1px solid #eceff1;
  height: calc(100% - 24px);
  display: flex;
  align-items: center;
}

.partners-category-right {
  position: relative;
  width: var(--column-8);
  height: 100%;
  display: flex;
  align-items: center;
}

.partners-category-right a {
  display: flex;
  height: 100px;
  max-width: 100%;
  align-items: center;
}

.partners-category-right img {
  padding: 24px;
  max-width: 100%;
  max-height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  height: auto;
  padding: calc(24px * 4) 0;
  background: #263238;
}

.footer-container {
  width: var(--column-12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container-left {
  display: flex;
  align-items: center;
}

.footer-container-left img {
  height: 40px;
}

/* .footer-container-left img:last-child {
  height: 60px;
  margin-left: calc(var(--gutter) * 2);
} */

.footer-container-right {
  width: var(--column-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-container-right > div {
  display: flex;
  flex-direction: column;
}

.footer-container-right-2 {
  text-align: right;
}

.footer-container-right a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.footer-container-right-1 div + div,
.footer-container-right-2 div + div {
  margin-top: 24px;
}

.action-button {
  position: absolute;
  display: block;
  bottom: var(--container-padding);
  right: var(--container-padding);
  background: #3f51b5;
  color: #fff;
  text-decoration: none;
  padding: 24px calc(24px * 2);
  transition: 0.3s;
  z-index: 8;
  /* border: 1px solid #fff; */
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

#action-button-1 {
  bottom: calc(24px * 4);
}

.action-button:hover {
  background: #002984;
}

.grid {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 var(--container-padding);
  display: flex;
  display: none;
  justify-content: center;
  z-index: 9;
  pointer-events: none;
}

.grid .columns {
  width: var(--max-width);
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.grid .columns .column {
  width: var(--column-width);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  background: rgba(0, 0, 0, 0.02);
}

.menu-button {
  display: none;
}

@media screen and (max-width: 1770px) {
  .header-container .logos.big {
    display: none;
  }

  .header-container .logos.small {
    display: flex;
    justify-content: space-between;
  }

  .links {
    width: var(--column-8);
  }
}

@media screen and (max-width: 1640px) {
  .header-container {
    flex-direction: column;
  }

  .header-container .logos {
    width: var(--column-12);
  }

  .menu-button {
    display: block;
    height: calc(73px - 15px);
    border-radius: 50%;
    transition: 0.3s;
  }

  .menu-button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }

  .menu-button img {
    height: 100%;
    padding: 10px;
  }

  .links {
    display: none;
    width: 100vw;
    flex-direction: column;
    padding: 30px var(--container-padding);
  }

  .links a {
    margin: 8px 0 !important;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --columns-number: 6;
    --gutter: calc(8px * 1);
    --container-padding: 30px;
    --column-1: calc(var(--column-width) / 2);
    --column-2: var(--column-1);
    --column-3: calc(var(--column-width) * 2 + var(--gutter));
    --column-4: var(--column-3);
    --column-5: calc(var(--column-width) * 3 + var(--gutter) * 2);
    --column-6: var(--column-5);
    --column-7: calc(var(--column-width) * 4 + var(--gutter) * 3);
    --column-8: var(--column-7);
    --column-9: calc(var(--column-width) * 5 + var(--gutter) * 4);
    --column-10: var(--column-9);
    --column-11: calc(var(--column-width) * 6 + var(--gutter) * 5);
    --column-12: var(--column-11);
    --section-height: auto;
  }
}

@media screen and (max-width: 640px) {
  .bigger {
    height: 50px;
  }
}
